# editor files
*.idea
*.vscode
*~
*#

# python
*.pyc
__pycache__

# julia
Manifest.toml

# instrument cfg
instruments/instrument.cfg
instruments/awg/test M8195A.ipynb
instruments/awg/.ipynb_checkpoints/test M8195A-checkpoint.ipynb
instruments/instruments.cfg

# binary
*.DS_Store

# local
out
_test

# h5 files
*.h5
