# IDE meta files
.idea
# pyc files
.pyc

*.pyc

*.pyc
# Instrument cfg
instruments/instrument.cfg
instruments/awg/test M8195A.ipynb
instruments/awg/.ipynb_checkpoints/test M8195A-checkpoint.ipynb
instruments/instruments.cfg
instruments/instruments.cfg
instruments/instruments2.cfg
