# editor files
*.idea
*.vscode
*~
*\#*

# python
*.pyc
__pycache__
*.egg-info

# julia
Manifest.toml

# instrument cfg
instruments/instrument.cfg
instruments/awg/test M8195A.ipynb
instruments/awg/.ipynb_checkpoints/test M8195A-checkpoint.ipynb
instruments/instruments.cfg
*.dll

# binary
*.DS_Store
*.dat
*.png
*.pdf

# local
out
_test
*.yaml
*.log